*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


body{
   background-color: #F4F7FE;
   color: #2b3674;
   height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: 1600px;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background: white;
}


.log-out{
   width: 80px;
   height: 30px;
   border: #2b3674 solid;
   border-radius: 15px;
   color: #2b3674;
   justify-content: center;
   background-color: white;
}

.log-out:hover{
   background-color: #2b3674;
   color: white;
   cursor: pointer;
   scale: 1.1;
   transition-duration: 0.8s;
}


.header{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 50%;
}


.header-state{
    margin: 30px;
    position: relative;
    right: 45%;
}


.back{
    width: 70px;
    height: 35px;
    background-color: white;
    border: white;
    border-radius: 15px;
    position: relative;
    margin: 30px;
    left: 210%;
    color: #2b3674;
    top: 15px;
}

.back:hover{
    cursor: pointer;
    background-color: #2b3674;
    color: #F4F7FE;
    transition-duration: 0.5s;
    transition-delay: 10ms;
}

.profile-data{
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 200px;
    border-radius: 15px;
    justify-self: center;
    background-color: white;
}

.img{
    background-color: #4318FF;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
}

.img img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 27%;
    left: 27%;
}

.name ,
.id ,
.department{
    margin: 10px;
}

.name{
    color: #2b3674;
}

.id ,
.department{
    color: #A3AED0;
}

.edit{
    color: white;
    background-color: #4318FF;
    width: 130px;
    height: 35px;
    border-radius: 25px;
    position: relative;
    top: 75%;
    right: 43%;
    border: white;
}

.security{
    color: white;
    background-color: #FF0080;
    width: 130px;
    height: 35px;
    border-radius: 25px;
    position: relative;
    top: 75%;
    right: 42%;
    border: white;
}

.edit:hover ,
.security:hover{
    cursor: pointer;
}